<div class="wrapper">

  <nav id="sidebar" [ngClass]="{'active': isSidebarActive}" >
    <app-sidebar></app-sidebar>
  </nav>

  <div id="content">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

          
              <button mat-mini-fab color="warn"  (click)="toggleSidebar()">
                <span class="material-icons">menu</span>
              </button>
              <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fas fa-align-justify"></i>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="nav navbar-nav ml-auto">
                      <li class="nav-item active">
                          <a class="nav-link" href="#">Page</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Page</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Page</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Page</a>
                      </li>
                  </ul>
              </div>
              
          </div>


      </nav>

      <div class="container-fluid">
        <router-outlet></router-outlet>
            <!-- <p>
                Parent money {{ myMoney }}
                <button class="btn btn-primary" (click)="addMoney()">+</button>
             </p>

            <app-child [money]="myMoney" (takeMoney)="getMoney($event)" >
                TITLE
                <div name> OSKAR FAILLING </div>
                <div class="description">Je suis dans mon classe et alorsSD GQDGQS SEG QES</div>
                <div lien> VENTES </div>
            </app-child> -->
<!-- 
            template referecne
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" [(ngModel)]="name" #monInput placeholder="name@example.com">
            </div>

            <button class="btn btn-primary p-2" (click)="valider(monInput)">Valider</button> -->

            <!-- TEMPLATE DRIVENS FORMS -->
            <!-- <form  #infoForm="ngForm" (ngSubmit)="save(infoForm)" >
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="mail" ngModel>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">password</label>
                    <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="*****" name="mdp" ngModel>
                </div>
                <button type="submit" class="btn btn-primary">Valider</button>
            </form> -->


            <!-- REACTIVE FORM -->
            <form  [formGroup]="informationForm" (ngSubmit)="saveReactive()" >
                <input type="text" class="form-control" formControlName="name">
                <input type="number"class="form-control"formControlName="year">
                <button type="submit" class="btn btn-primary">Valider</button>
            </form> 

            
      </div>

  </div>
</div>
