
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
    vertical-align: middle;
    border-top: 5px dashed;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    margin-right: 10px;
}


.align-items-center {
    align-items: center !important;
    display: flex !important;
}



.dropdown-toggle[aria-expanded="true"] .caret {
    transform: rotate(90deg);
    transition: transform 0.3s ease-in-out;
}

.menu-footer{
    position: absolute;
    width: 100%;
    bottom: 13px;
    padding: 10px;
    font-size: 1.1em;
}

.sidebar-header {
    padding: 20px 0px;
    margin: 0;
    display: block;
    position: relative;
    z-index: 4;
    
}

.sidebar-header ::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: rgba(180, 180, 180, 0.3);
}

.sidebar-header .simple-text {
    text-transform: uppercase;
    padding: 5px 0px;
    display: inline-block;
    font-size: 18px;
    color: #3C4858;
    white-space: nowrap;
    font-weight: 400;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
    display: block;
    text-decoration: none;

}

li.active > a {
    background-color: #f44336;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
    color: #fff;
}

li.active > a, li.active >a > i ,li.active > a > p {
    color: #fff !important;
}

li a{
    margin: 10px 15px 0;
    border-radius: 3px;
    color: #3C4858;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: capitalize;
    font-size: 13px;
    padding: 10px 15px;
    width: 100%;
}

li{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

ul{
    display: block;
    margin-top: 20px;
}

p{
    margin: 0;
    line-height: 30px;
    font-size: 14px;
    position: relative;
    display: block;
    height: auto;
    white-space: nowrap;
}

i{
    
    font-size: 24px;
    float: left;
    margin-right: 15px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    color: #a9afbb;

}

li:hover:not(.active) > a{
    background: rgba(200, 200, 200, 0.2);
}
