
    <div class="sidebar-header">
        <a href="#" class="simple-text">GESTION LIVRAISON</a>
    </div>

    <ul class="list-unstyled components">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems"   [ngClass]="{'active': isActive(menuItem)}" [class]="menuItem.class + ' nav-item'">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
        <!-- <li>
          <a class="dropdown-toggle d-flex align-items-center " data-bs-toggle="collapse" href="#drop1" role="button" aria-expanded="false">
              Nombre page
              <span class="ms-auto caret"></span>
          </a>
          
          <ul class="collapse list-unstyled" id="drop1">
              <li>
                  <a href="#">Page 1</a>
              </li>
              <li>
                  <a href="#">Page 2</a>
              </li>
              <li>
                  <a href="#">Page 3</a>
              </li>
          </ul>
          
        </li> -->

        <li class="menu-footer">
            Deconnecter
        </li>
      
    </ul>
