.card-container{
    max-width: 400px
}

.align-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.align-top {
    display: flex;
}

.container-emoticon{
    position:absolute;
    top : -25px;
    left:10px;
    width:90px;
    height:80px;
    padding: 15px;
    background-color: aquamarine;
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-emoticon i {
    font-size: 36px;
    line-height: 56px;
    width: 56px;
    height: 56px;
    text-align: center;
}
