<mat-card class="card-container">
    <mat-card-header class="align-right mb-3">
      <div class="container-emoticon">
        <i class="material-icons " >favorite</i>
      </div>
      <mat-card-subtitle class="text-end">Used Spavve</mat-card-subtitle>
      <mat-card-title class="text-end" style="font-size: 25px;">49/50 GB</mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>
    <mat-card-actions class="align-top">
        <i class="material-icons me-2" style="font-size : 20px">favorite</i>
        <span>Get more espace</span> 
    </mat-card-actions>
</mat-card>

  
